<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.AddressMapper">

    <resultMap id="baseAddressResultMap" type="Address">
        <id property="addressId" column="ADDRESS_ID"></id>
        <result property="userId" column="USER_ID"></result>
        <result property="address" column="ADDRESS"></result>
        <result property="phone" column="PHONE"></result>
        <result property="linkman" column="LINKMAN"></result>
        <result property="defaultAddress" column="DEFAULT_ADDRESS"></result>
        <result property="addressNote" column="ADDRESS_NOTE"></result>
    </resultMap>

    <select id="findDefaultAddressByUserId" parameterType="int" resultMap="baseAddressResultMap">
        SELECT ADDRESS_ID,USER_ID,ADDRESS,PHONE,LINKMAN,DEFAULT_ADDRESS,ADDRESS_NOTE
        FROM address WHERE USER_ID = #{VALUE} AND DEFAULT_ADDRESS = 1
    </select>





</mapper>