<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.AdminMapper">

    <resultMap id="adminMap" type="com.njxzc.shopsystem.pojo.Admin">
        <result property="adminId" column="adminId"/>
        <result property="adminName" column="adminName"/>
        <result property="adminPwd" column="adminPwd"/>
    </resultMap>

    <select id="findAdminByAdminName" resultMap="adminMap" parameterType="map" >
        SELECT
        ADMIN_ID as adminId,
        ADMIN_NAME as adminName,
        ADMIN_PWD as adminPwd
        FROM admin WHERE ADMIN_NAME = #{adminName}
    </select>
</mapper>