<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.CollectMapper">

    <resultMap id="collectsResultMap" type="com.njxzc.shopsystem.pojo.Collect">
        <id property="collectId" column="COLLECT_ID"/>
        <result property="comId" column="COM_ID"/>
        <result property="userId" column="USER_ID"/>
        <association property="commodity" javaType="com.njxzc.shopsystem.pojo.Commodity">
            <id property="comId" column="COM_ID"/>
            <result property="comName" column="COM_NAME"/>
            <result property="sellerId" column="SELLER_ID"/>
            <result property="primePrice" column="PRIME_PRICE"/>
            <result property="currentPrice" column="CURRENT_PRICE"/>
            <result property="des" column="des"/>
            <result property="flag" column="flag"/>
            <result property="count" column="count"/>
            <result property="isNew" column="IS_NEW"/>
            <result property="isBargain" column="IS_BARGAIN"/>
            <result property="isUrgent" column="IS_URGENT"/>
            <result property="isRecommend" column="IS_RECOMMEND"/>
            <result property="hits" column="hits"/>
            <result property="inTime" column="IN_TIME"/>
            <result property="onTime" column="ON_TIME"/>
            <result property="reviews" column="reviews"/>
            <result property="collects" column="collects"/>
            <result property="comImageMain" column="COM_IMAGE_MAIN"/>
            <result property="comImageOther" column="COM_IMAGE_OTHER"/>
        </association>
        <association property="user" javaType="com.njxzc.shopsystem.pojo.User">
            <result property="realName" column="REAL_NAME"></result>
            <result property="nickName" column="NICK_NAME"></result>
            <result property="userName" column="USER_NAME"></result>
            <result property="school" column="SCHOOL"></result>
            <result property="sex" column="SEX"></result>
            <result property="profilePhoto" column="PROFILE_PHOTO"></result>
        </association>
        <association property="typethird" javaType="com.njxzc.shopsystem.pojo.Typethird">
            <id property="thirdId" column="THIRD_ID"></id>
            <result property="thirdName" column="THIRD_NAME"></result>
            <result property="thirdPicture" column="THIRD_PICTURE"></result>
        </association>
    </resultMap>

    <select id="findCollectByUserId" resultMap="collectsResultMap" parameterType="map">
        SELECT
        c.COM_ID,
        c.COM_NAME,
        c.SELLER_ID,
        c.PRIME_PRICE,
        c.CURRENT_PRICE,
        c.DES,
        c.FLAG,
        c.COUNT,
        c.IS_NEW,
        c.IS_BARGAIN,
        c.IS_URGENT,
        c.IS_RECOMMEND,
        c.HITS,
        c.IN_TIME,
        c.ON_TIME,
        c.REVIEWS,
        c.COLLECTS,
        c.COM_IMAGE_MAIN,
        c.COM_IMAGE_OTHER,
        tt.THIRD_ID,
        tt.THIRD_NAME,
        u.REAL_NAME,
        u.NICK_NAME,
        u.SCHOOL,
        u.SEX,
        u.PROFILE_PHOTO,
        u.USER_NAME,
		ct.COLLECT_ID,
		ct.COM_ID,
		ct.USER_ID
        FROM commodity c,user u,typethird tt,collects ct
        WHERE c.TYPE_THIRD_ID = tt.THIRD_ID  and u.USER_ID=c.SELLER_ID and ct.COM_ID=c.COM_ID and ct.USER_ID=#{userId}
    </select>



    <select id="findCollectByComIdAndUserId" resultType="_int" parameterType="map" >
        SELECT COUNT(*) FROM collects WHERE COM_ID = #{comId} AND USER_ID = #{userId}
    </select>

    <delete id="cancelCollected" parameterType="Collect">
        DELETE FROM collects WHERE COM_ID = #{comId} AND USER_ID = #{userId}
    </delete>

    <insert id="joinCollected" parameterType="Collect">
        INSERT INTO collects(COM_ID,USER_ID) VALUES (#{comId},#{userId});
    </insert>
</mapper>