<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.OrderDetailMapper">

    <resultMap id="baseOrderDetailResultMap" type="OrderDetail">
        <id property="orderDetailId" column="ORDER_DETAIL_ID"></id>
        <result property="orderId" column="ORDER_ID"></result>
        <result property="comId" column="COM_ID"></result>
        <result property="buyCount" column="BUY_COUNT"></result>
    </resultMap>

    <insert id="insertOrderDetail" parameterType="OrderDetail">
        INSERT INTO orderdetail (ORDER_ID,COM_ID,BUY_COUNT)
        VALUES (#{orderId},#{comId},#{buyCount})
    </insert>


</mapper>