<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.UserOrderMapper">

    <!--订单基础 resultMap-->
    <resultMap id="userOrderBaseResultMap" type="UserOrder">
        <id property="orderId" column="ORDER_ID"></id>
        <result property="userId" column="USER_ID"></result>
        <result property="addressId" column="ADDRESS_ID"></result>
        <result property="orderTime" column="ORDER_TIME"></result>
        <result property="getTime" column="GET_TIME"></result>
        <result property="total" column="TOTAL"></result>
        <result property="note" column="NOTE"></result>
    </resultMap>

    <resultMap id="userAndOrderAndAddressResultMap" type="UserOrder" extends="userOrderBaseResultMap">
        <!--一个订单 只可能对应一个地址 还需要在进行一次一对一映射-->
        <association property="address" javaType="Address">
            <id property="addressId" column="ADDRESS_ID"></id>
            <result property="userId" column="USER_ID"></result>
            <result property="address" column="ADDRESS"></result>
            <result property="phone" column="PHONE"></result>
            <result property="linkman" column="LINKMAN"></result>
            <result property="defaultAddress" column="DEFAULT_ADDRESS"></result>
            <result property="addressNote" column="ADDRESS_NOTE"></result>
        </association>
    </resultMap>

    <select id="findOrderAndAddress" parameterType="int" resultMap="userAndOrderAndAddressResultMap">
        SELECT o.ORDER_ID,o.ORDER_TIME,o.TOTAL,a.ADDRESS_ID,a.ADDRESS,a.PHONE,a.LINKMAN
        FROM userorder o JOIN address a ON(a.ADDRESS_ID=o.ADDRESS_ID) WHERE o.USER_ID = #{VALUE};
    </select>


</mapper>