<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.UserMapper">

    <resultMap id="userMap" type="com.njxzc.shopsystem.pojo.User">
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="realName" column="REAL_NAME"/>
        <result property="grade" column="GRADE"/>
        <result property="sex" column="SEX"/>
        <result property="birth" column="BIRTH"/>
        <result property="state" column="STATE"/>
        <result property="school" column="SCHOOL"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="profilePhoto" column="PROFILE_PHOTO"/>
        <result property="balance" column="BALANCE"/>
    </resultMap>

    <select id="findAllUsers2" resultMap="userMap" parameterType="map" >
        SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user
    </select>

    <select id="findUserByUserName" resultMap="userMap" parameterType="map" >
         SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE USER_NAME = #{userName}
    </select>

    <insert id="registerUser" parameterType="User">
        INSERT INTO user(USER_NAME,USER_PWD,NICK_NAME,STATE,PROFILE_PHOTO,BALANCE)
         VALUES (#{userName},#{userPwd},#{nickName},1,#{profilePhoto},0)
    </insert>

    <select id="findUserByUserNameExist" resultType="_int" parameterType="String">
        SELECT COUNT(*) FROM user WHERE USER_NAME = #{userName}
    </select>
    
    <resultMap id="userAndOrderAndAddressResultMap" type="User" extends="userMap">
        <collection property="userOrderList" ofType="UserOrder">
            <id property="orderId" column="ORDER_ID"></id>
            <result property="userId" column="USER_ID"></result>
            <result property="addressId" column="ADDRESS_ID"></result>
            <result property="orderTime" column="ORDER_TIME"></result>
            <result property="getTime" column="GET_TIME"></result>
            <result property="total" column="TOTAL"></result>
            <result property="note" column="NOTE"></result>
            <!--一个订单 只可能对应一个地址 还需要在进行一次一对一映射-->
            <association property="address" javaType="Address">
                <id property="addressId" column="ADDRESS_ID"></id>
                <result property="userId" column="USER_ID"></result>
                <result property="address" column="ADDRESS"></result>
                <result property="phone" column="PHONE"></result>
                <result property="linkman" column="LINKMAN"></result>
                <result property="defaultAddress" column="DEFAULT_ADDRESS"></result>
                <result property="addressNote" column="ADDRESS_NOTE"></result>
            </association>
        </collection>
    </resultMap>

    <select id="findUserAndOrders" parameterType="int" resultMap="userAndOrderAndAddressResultMap">
        SELECT u.USER_ID,u.USER_NAME ,o.ORDER_ID,o.ORDER_TIME,o.TOTAL,a.ADDRESS_ID,a.ADDRESS,a.PHONE,a.LINKMAN
        FROM user u JOIN userorder o ON(u.USER_ID=o.USER_ID)  JOIN address a ON(a.ADDRESS_ID=o.ADDRESS_ID) WHERE o.USER_ID = #{VALUE};
    </select>


</mapper>