<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.njxzc.shopsystem.mapper.UserMapper">

    <select id="findUserCount" resultType="_int" parameterType="map">
        SELECT COUNT(*) FROM user
    </select>

    <resultMap id="userMap" type="com.njxzc.shopsystem.pojo.User">
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userPwd" column="USER_PWD"/>
        <result property="nickName" column="NICK_NAME"/>
        <result property="realName" column="REAL_NAME"/>
        <result property="grade" column="GRADE"/>
        <result property="sex" column="SEX"/>
        <result property="birth" column="BIRTH"/>
        <result property="state" column="STATE"/>
        <result property="school" column="SCHOOL"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="profilePhoto" column="PROFILE_PHOTO"/>
        <result property="balance" column="BALANCE"/>
    </resultMap>

    <select id="findAllUsers2" resultMap="userMap" parameterType="map" >
        SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user
    </select>

    <select id="findUsersByKey" resultMap="userMap" parameterType="String" >
        SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE NICK_NAME LIKE '%${key}%'
        <if test="userId != null and userId != '' and userId != 0 ">
         AND USER_ID = #{userId}
         </if>
        <if test="school != null and school != ''  ">
         AND SCHOOL LIKE '%${school}%'
         </if>
        <if test="state != null and state != '' and state != 3 ">
         AND STATE = #{state}
         </if>
    </select>

    <select id="findUserByUserName" resultMap="userMap" parameterType="map" >
         SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE USER_NAME = #{userName}
    </select>

    <select id="findUserByUserId" resultMap="userMap" parameterType="Integer" >
         SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE USER_ID = #{userId}
    </select>

    <select id="findUserByUserNameAndPwd" resultMap="userMap" parameterType="map" >
         SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE USER_NAME = #{userName} AND USER_PWD = #{userPwd}
    </select>

    <insert id="registerUser" parameterType="User">
        INSERT INTO user(USER_NAME,USER_PWD,NICK_NAME,PHONE,STATE,PROFILE_PHOTO,BALANCE)
         VALUES (#{userName},#{userPwd},#{nickName},#{phone},1,#{profilePhoto},0)
    </insert>

    <select id="findUserByUserNameExist" resultType="_int" parameterType="String">
        SELECT COUNT(*) FROM user WHERE USER_NAME = #{userName}
    </select>

    <select id="findUserByPhoneExist" resultType="_int" parameterType="String">
       SELECT COUNT(*) FROM user WHERE PHONE = #{phone}
    </select>

    <select id="findUserByPhone" resultMap="userMap" parameterType="String">
       SELECT
        USER_ID,
        USER_NAME,
        USER_PWD,
        NICK_NAME,
        REAL_NAME,
        GRADE,
        SEX,
        BIRTH,
        STATE,
        SCHOOL,
        EMAIL,
        PHONE,
        PROFILE_PHOTO,
        BALANCE
        FROM user WHERE PHONE = #{phone}
    </select>

    <update id="updateBalanceByUserId"  parameterType="User">
        UPDATE user SET BALANCE = #{balance} WHERE USER_ID = #{userId}
    </update>

    <update id="updatePwdByPhone"  parameterType="User">
        UPDATE user SET USER_PWD = #{userPwd} WHERE Phone = #{phone}
    </update>

    <update id="updatePhoneAndUserNameByUserId"  parameterType="User">
        UPDATE user SET USER_NAME = #{phone},PHONE = #{phone} WHERE USER_ID = #{userId}
    </update>

    <select id="checkOldPwdByUserId" resultType="_int" parameterType="User">
       SELECT COUNT(*) FROM user WHERE USER_ID = #{userId} AND USER_PWD = #{userPwd}
    </select>

    <update id="updateUserPwdByUserId"  parameterType="User">
        UPDATE user SET USER_PWD = #{userPwd} WHERE USER_ID = #{userId}
    </update>

    <select id="checkOnlyNickName" resultType="_int" parameterType="User">
       SELECT COUNT(*) FROM user WHERE NICK_NAME = #{nickName}
    </select>

    <update id="updateNickNameByUserId"  parameterType="User">
        UPDATE user SET NICK_NAME = #{nickName} WHERE USER_ID = #{userId}
    </update>

    <update id="updateSexByUserId"  parameterType="User">
        UPDATE user SET SEX = #{sex} WHERE USER_ID = #{userId}
    </update>

    <update id="updateBirthByUserId"  parameterType="User">
        UPDATE user SET BIRTH = #{birth} WHERE USER_ID = #{userId}
    </update>

    <update id="updatePhotoByUserId"  parameterType="User">
        UPDATE user SET PROFILE_PHOTO = #{profilePhoto} WHERE USER_ID = #{userId}
    </update>

    <update id="insertSchoolByUserId"  parameterType="User">
        UPDATE user SET SCHOOL = #{school} WHERE USER_ID = #{userId}
    </update>

    <update id="updateUserState"  parameterType="User">
        UPDATE user SET STATE = #{state} WHERE USER_ID = #{userId}
    </update>




</mapper>