<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyphenate.easeui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20" />

    <application>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="FGbwpxT21pdgo52W83RSvQ7taReumSoT" >
        </meta-data>

        <activity android:name=".ui.EaseShowBigImageActivity" />
        <activity android:name=".ui.EaseBaiduMapActivity" />

    </application>

</manifest>
