<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <script src="http://localhost:8088/shopsystem/js/jquery-3.3.1.js"></script>
    <style>
        *{margin: 0;padding: 0}
        html, body, #father{height: 100%}
        #top{width:100%;height:10%;background-color: gray}
        #menu{float: left;width:10%;height:90%;background-color: antiquewhite}
        #con{float: right;width: 90%;height:90%;background-color: #bce8f1}
    </style>
    <script>
        $(document).ready(function(){
            //页面加载的时候，内容框默认显示 default.html
            $('#con').load('http://localhost:8088/shopsystem/toDefault');
            //单击 a 链接，加载 default.html
            $("#a1").click(function(){
                $('#con').load('http://localhost:8088/shopsystem/toDefault');
            });
            //单击 b 链接，加载 allCommodity.html
            $("#a2").click(function(){
                $('#con').load('http://localhost:8088/shopsystem/commodity/toAllComByPage');
            });
        })
    </script>
</head>
<body>
<div id="father">
<div id="top">
    <p>
        欢迎<span th:text="${session.adminLogin.adminName}"></span>登录！
    </p>
</div>
<div id="menu">
<ul id="nav">
    <li><a href="#" id="a1">首页</a></li>
    <li><a href="#" id="a2">商品管理</a></li>
</ul>
</div>
<div id="con"></div>
</div>
</body>
</html>