<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://localhost:8088/shopsystem/hospital/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://localhost:8088/shopsystem/hospital/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script>
        function deleteCom(comId) {
            //1.通过js 实现点击不同商品，可以得到不同编号
            console.log(comId);
            //添加一个删除提示框
            var r = confirm("确定删除商品编号："+comId+",该商品吗？");
            //通过提示框点击确定按钮，实现删除
            if(r){
                //通过js 实现页面跳转（调用controller）
                window.location.href="http://localhost:8088/shopsystem/commodity/deleteCom/"+comId;
            }else {
                console.log("取消删除操作！");
            }


        }
        //2.通过js 实现 跳转到修改商品页面
        function toUpdateCom(comId){
            window.location.href="http://localhost:8088/shopsystem/commodity/toUpdateCom/"+comId;
        }

    </script>
</head>
<body>



<!--根据关键字，查询商品-->
<div style="height:80px;width: 90%" >
<form action="http://localhost:8088/shopsystem/commodity/searchComBykey" method="post">
    <div>
    <input name="key" type="text" placeholder="请输入要查询的商品" style="border: 2px red solid;padding: 5px;width: 500px;height: 50px;float: left"/>
    </div>
    <div>
    <input type="submit" value="搜索" style="width: 150px;height: 50px;background-color: red;border: 1px red solid;
                                         text-align: center;font-size: 30px;padding: 5px;line-height:50px; float: left">
    </div>
</form>
    <!-- 登录用户信息 放入Session-->
    <div th:if="${session.loginUser!=null}">
        <div style="float: left;">欢迎<span th:text="${session.loginUser.userName}"></span>,登录！</div>
        <div style="float: right;">
            <!--我的（个人信息）-->
            <div style="float: left;">
                <!--自己编写实现点击用户头像跳转个人信息页面，可以查询到用户信息且可以进行部分数据修改-->
                <a href="#"><img th:src="${session.loginUser.profilePhoto}" width="80px" height="80px" style="border-radius: 25%"></a>
            </div>
            <!--查询订单、购物车等-->
            <div style="float: left;">
                <a th:href="'http://localhost:8088/shopsystem/order/findOrderDesc/'+${session.loginUser.userId}">已购买的宝贝</a>&nbsp;&nbsp;
                <a href="#">购物车</a>
            </div>
        </div>
    </div>
</div>

<span th:text="${deleteInfo}"></span>
<div id="showItem" class="table-responsive" style="width:1200px;" >

    <table class="table table-striped">
        <thead>
        <tr>
            <th>编号</th>
            <th>图片</th>
            <th>名称</th>
            <th>描述</th>
            <th>分类</th>
            <th>卖家</th>
            <th>价格</th>
            <th>数量</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ac:${allCommodities}">
            <td><span th:text="${ac.comId}"></span></td>
            <td th:if="${null!=ac.comImageMain}">
                <img  th:src="${ac.comImageMain}" width="150px"
                     height="150px" >
            </td>
            <td th:if="${null==ac.comImageMain}">
                <img  th:src="'http://localhost:8088/shopsystem/resources/image/default.jpg'" width="150px"
                      height="150px" >
            </td>
            <td><span th:text="${ac.comName}"></span></td>
            <td><span th:text="${ac.des}"></span></td>
            <td><span th:text="${ac.typethird.thirdName}"></span></td>
            <td><span th:text="${ac.user.realName}"></span></td>
            <td><span th:text="${ac.currentPrice}"></span></td>
            <td><span th:text="${ac.count}"></span></td>
            <td><span th:text="${ac.flag==0?'待审核':ac.flag==1?'上架中':ac.flag==2?'已下架':'审核不通过'}"></span></td>
            <td><a th:href="'http://localhost:8088/shopsystem/commodity/toBuyComDetail/'+${ac.comId}">商品详细</a></td>
            <!--<td><a th:href="'http://localhost:8088/shopsystem/commodity/deleteCom/'+${ac.comId}">删除</a></td>-->
            <!--如果是静态页面 onclick="deleteCom(1001)"-->
            <td><button th:onclick="'deleteCom('+${ac.comId}+')'">删除</button>
                <button th:onclick="'toUpdateCom('+${ac.comId}+')'")>修改</button>
                <a th:href="'http://localhost:8088/shopsystem/commodity/toUpdateCom/'+${ac.comId}">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="heartCommodity" style="position: fixed;width: 200px;height: 400px;bottom: 100px;right: 50px;border: 1px solid red;">
    <ol>
        <li th:each="ah:${hitsCommodities}">
            <a th:href="'http://localhost:8088/shopsystem/commodity/toComDetail/'+${ah.comId}">
            <span th:text="${ah.comName}" style="color: red;"></span>
            </a>
        </li>
    </ol>
</div>

</body>
</html>