<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://localhost:8088/shopsystem/js/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script th:inline="javascript" type="text/javascript">
        var otherImgUrl = [[${urlList}]];//在js中获取Request 域中key为urlList对应的数据
        function comOtherFileChange(element,index) {
            console.log(index);
            console.log("其他图片地址数量：",otherImgUrl.length);
            if(index<otherImgUrl.length){
                console.log("重新选择了图片");
                var files = element.files;
                console.log("files",files);
                console.log(files.length);
                if(files.length>0){
                    //例如：获取到的文件名是 p3.jpg 通过如下方式
                    var str = files[0].name.split('.');//将上传文件的第一个位置（下标0） 对应的文件名 通过，分割
                    console.log(str);//打印分割后的结果 str会显示为 p3 jpg
                    var suffixImg = str[1];//将截取后 字符数组的第二个位置（.以后内容获取）  显示jpg
                    if(suffixImg == 'jpg' | suffixImg == 'jpeg' |suffixImg == 'png'){//如果有其他格式，自行补充
                        console.log(suffixImg);
                        console.log("#otherImage_"+index);
                        $("#otherImage_"+index).attr("src",window.URL.createObjectURL(files[0]));
                    }else {
                        console.log("不是图片！");
                    }
                }else {
                    console.log("获取文件失败！");
                }

            }else {//如果要上传的图片不只是数据库中现存的图片，那么注意需要使用JS或JQuery添加心得div进行展示
                $("#otherImage").append("<div style='float:left;margin-left:5%;border:2px red dashed;" +
                    "margin-top:8px;'>"+"<img id='otherImage_"+index+"'src='default.jpg' width='60px' height='60px'"+
                "style='float: left;' class='imgSmall'/>");
                console.log("重新选择了图片");
                var files = element.files;
                console.log(("files",files));
                console.log(files.length);
                $("#otherImage_"+index).attr("src",window.URL.createObjectURL(files[0]));
                console.log(window.URL.createObjectURL(files[0]));
                otherImgUrl.length+=1;
            }

        }

    </script>
    <script>
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'YYYY-MM-DD',
                locale: moment.locale('zh-cn')
            });
            $('#datetimepicker2').datetimepicker({
                format: 'YYYY-MM-DD HH:mm:ss',
                locale: moment.locale('zh-cn')
            });
        });
        $(function () {
           $("#comImgMainFile").change(function () {
               console.log("重新选择了图片");
               var files = this.files;
               console.log("files",files);
               if(files.length>0){
                   //例如：获取到的文件名是 p3.jpg 通过如下方式
                   var str = files[0].name.split('.');//将上传文件的第一个位置（下标0） 对应的文件名 通过，分割
                   console.log(str);//打印分割后的结果 str会显示为 p3 jpg
                   var suffixImg = str[1];//将截取后 字符数组的第二个位置（.以后内容获取）  显示jpg
                    if(suffixImg == 'jpg' | suffixImg == 'jpeg' |suffixImg == 'png'){//如果有其他格式，自行补充
                        $("#ComImgMain").attr("src",window.URL.createObjectURL(files[0]));
                    }else {
                        console.log("不是图片！");
                    }
               }else {
                   console.log("获取文件失败！");
               }
               //操作后，还可以通过ajax 直接实现文件上传
           })
        });

    </script>
</head>
<body>
<div>
    <form action="http://localhost:8088/shopsystem/commodity/updateComTest" method="post" enctype="multipart/form-data">
        商品编号：<input name="comId" type="text" readonly th:value="${commodity.comId}"/><br/>
        商品名：<input name="comName" type="text" placeholder="请输入商品名" th:value="${commodity.comName}"/><br/>
        商品原价：<input name="primePrice" type="text" placeholder="请输入原价" th:value="${commodity.primePrice}"/><br/>
        商品现价：<input name="currentPrice" type="text" placeholder="请输入现价" th:value="${commodity.currentPrice}"/><br/>
        发布时间：<!-- input name="inTime" type="text"/><br/>-->
        <div class='col-sm-6'>
            <div class="form-group">
                <label>选择日期+时间：</label>
                <div class='input-group date' id='datetimepicker2'>
                    <!--指定 date标记
                    注意 这里年月日需要再次处理 / 识别不了 'yyyy-MM-dd HH:mm:ss'-->
                    <input type='text' class="form-control" name="inTime" th:value="${#dates.format(commodity.inTime,'yyyy/MM/dd HH:mm:ss')}"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                </div>
            </div>
        </div>
        选择商品种类：<label><input type="radio" value="1" name="typesId" th:checked="${1==commodity.typethird.thirdId}">华为手机</label>
        <label><input type="radio" value="2" name="typesId" th:checked="${2==commodity.typethird.thirdId}">苹果手机</label>
        <label><input type="radio" value="3" name="typesId" th:checked="${3==commodity.typethird.thirdId}">小米手机</label><br/>
        商品描述：<input name="des" type="text" placeholder="请输入商品描述" th:value="${commodity.des}"/><br/>
        商品数量：<input name="count" type="text" placeholder="请输入数量" th:value="${commodity.count}"/><br/>
        <!--商品主图-->
        <div style="clear: both;">
            商品主图片：
            <div th:if="${null!=commodity.comImageMain}">
                <img id="ComImgMain" th:src="${commodity.comImageMain}" width="150px"
                      height="150px" >
                <input type="hidden" name="mainImageOriginalUrl" th:value="${commodity.comImageMain}"/>
            </div>
            <div th:if="${null==commodity.comImageMain}">
                <img id="ComImgMain"  src="http://localhost:8088/shopsystem/resources/image/default.jpg" width="150px"
                      height="150px" >
                <!--考虑到后台还要根据"" 进行处理，比较麻烦 不如这里传递一个默认图片。投胎将默认地址更新到数据库-->
                <input type="hidden" name="mainImageOriginalUrl" value="http://localhost:8088/shopsystem/resources/image/default.jpg"/>
            </div>
            <!--选择要上传的文件 选择文件后， 切换显示comImageMain对应的图片-->
            <div>
                <input type="file" name="imageMainFile" id="comImgMainFile"><br/>
            </div>
        </div>
        <!--商品其他图片-->
        <div style="clear:both;">
        <div id="otherImage" style="clear: both">
            <div th:each="url:${urlList}" style="float: left;margin-left: 5%;border: 2px red dashed;margin-top: 8px">
                <!--th标签汇总 变量名stat.index 可以获取当前位置下标-->
                <img th:id="'otherImage_'+${urlStat.index}" th:src="${url}" class="imgSmall" width="60px" height="60px" style="float:left;">
            </div>
        </div>
        <div style="clear: both">
            商品其他图片：（最多4张）
            <input type="file" name="imageOtherFiles" onchange="comOtherFileChange(this,0)"/><br/>
            <input type="file" name="imageOtherFiles" onchange="comOtherFileChange(this,1)"/><br/>
            <input type="file" name="imageOtherFiles" onchange="comOtherFileChange(this,2)"/><br/>
            <input type="file" name="imageOtherFiles" onchange="comOtherFileChange(this,3)"/><br/>
        </div>
            <!--考虑到上传的其他图片,有可能是没选的原始图片,地址需要处理-->
            <input type="hidden" name="otherImageOriginalUrl" th:value="${urlList}"/>
        </div>
        <input type="submit" value="修改商品">

    </form>
</div>
</body>
</html>