<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:c="http://www.w3.org/1999/html" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--建议使用绝对地址 -->
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>
    动态首页</br>
    <div id="div1">
        区域一
    </div><br/>
    <p th:text="${name}"></p>
    <p th:text="${classname}"></p>
    <!--如果需要获取对象的属性对应的值 通过 参数名，属性名 获取-->
    <span>欢迎</span><span  th:text="${user.userName}"></span><span>登录！</span>
    <!--我们可以通过拼接获取图片-->
    <img th:src="'http://localhost:8088/shopsystem/image/'+${user.profilePhoto}" width="150px"
       height="150px" style="position: fixed;right: 20px;top: 20px;"  >
    <!--遍历 users 处理List<User>-->
    <ul>
        <li th:each="u:${users}" style="float: left">
            <span th:text="${u.userName}"></span><br/>
            <span th:text="${#dates.format(u.birth, 'yyyy-MM-dd')}"></span><br/>
            <span th:if="${u.sex} eq 1" th:text="男"></span>
            <span th:if="${u.sex} eq 0" th:text="女"></span><br/>
            <img th:src="'http://localhost:8088/shopsystem/image/'+${u.profilePhoto}" width="150px"
                 height="150px" >
        </li>




    </ul>




</body>
</html>